*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}


.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5px;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    border:2px solid black;
   
}
#reset-btn{
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px auto;
}
#score{
    font-size:20px ;
    margin:20px auto ;
}
.cell{

border:2px solid black;
width:99px;
height: 99px;


}

#instuction{
    font-size:25px;
    color:#008000;
}